.leaflet-container{
    width: 100%;
    height: 700px;
  }
  .modal-body .form-group .leaflet-container{
    width: 100%;
    height: 580px;
    margin-bottom: 20px;
  }
.leaflet-routing-alternatives-container{
    display: none;
}
.site-section-cover p {
    font-size: 18px;
    color : black;
    max-width: 400px;
}
#listSearch{
    background: white;
    padding:10px;
    max-width:49%;
}
#listSearch li{
    list-style: none;
    cursor: pointer;
    border-bottom:1px solid black;
    margin-top:5px;
    font-weight: bold;
    color:black;
}
#listSearch li:hover,#listSearch li:checked{
    background: black;
    color:white;
}